@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

@media (max-width: 1023px) {

    .wd_menu_btn{
        /* display: block;
        float: none;
        position: absolute; */
        top: 15px;
        right: 15px;
        position: fixed;
        border: none;
        width: 50px;
        height: 50px;
        font-size: 32px;
        color: #ffffff;
        border-radius: 3px;
        background-color: #81c683;
    }
    .wd_menu_btn:hover, .wd_menu_btn:focus{
        outline:none;
        border:none;
        box-shadow:none;
        text-shadow:none;
    }

}

@media (min-width: 1024px) {
    .wd_menu_btn {
        visibility: hidden;
    }

    .side_fixer {
        margin-top: -70%;
    }
}


.wd_overlay{
    content: "";
    position: absolute;
    background-image: url(../images/dot_bg.png);
    background-color: rgba(182, 182, 182, 0.8);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}

.wd_contact_wrapper{
	float:left;
	width:100%;
	background-image:url(../images/loginimg.png);
	background-size:cover;
	background-position:center;
	background-position:top;
	background-repeat:no-repeat;
    position: relative;
	z-index:0;
}

.wd_contact_wrapper2{
	float:left;
	width:100%;
	background-image:url(../images/registerimg.png);
	background-size:cover;
	background-position:center;
	background-position:top;
	background-repeat:no-repeat;
    position: relative;
	z-index:0;
}

/* fix padding on the auth pages */
.wd-fixer {
    padding-top:120px;
    padding-bottom:160px;
}

.wd-fixer2 {
    padding-top:100px;
    padding-bottom:100px;
}

.wd_logo {
    margin: 20px;
}

.wd_layer {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 45px 20px;
    border: gray 3px solid;
    border-radius: 40px;
    margin: 0 20px;
}

.wd_form {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* ******************** */
/* slider css is here */
/* ******************** */
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

.slidecontainer2 {
  width: 90%; /* Width of the outside container */
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.lc-grey-round {
    color:#000!important;
    background-color:#f1f1f1!important;
    border-radius:30px;
}

.lc-red-round {
    border-radius:30px;
    padding: 30px 16px;
    color:#fff!important;
    background-color:#e17e83!important;
    /* padding: 5px 10px; */
}

/* ************************ */
/* **** Progress Bar ***** */
/* ************************ */

.progress-card
{
  position:relative;
  width:300px;
  background:rgb(255, 188, 188);
  display:flex;
  justify-content:center;
  align-items:center;
  height:300px;
  border-radius:4px;
  text-align:center;
  overflow:hidden;
  transition:0.5s;
}
.progress-card:hover
{
  transform:translateY(-10px);
  box-shadow:0 15px 35px #ED6D6D;
}
.progress-card:before
{
  position:absolute;
  top:0;
  left:-50%;
  width:100%;
  height:100%;
  background:rgba(255, 188, 188, 1);
  pointer-events:none;
  z-index:1;
}
.percent
{
  position:relative;
  width:150px;
  height:150px;
  border-radius:50%;
  background:#fa8383;
  z-index:100;
}
.percent .num
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:50%;
}
.percent .num h2
{
  color:#000;
  font-weight:700;
  font-size:40px;
  transition:0.5s;
}
.progress-card:hover .percent .num h2
{
  color:#fff;
  font-size:60px;
}
.percent .num h2 span
{
  color:#000;
  font-size:20px;
  transition:0.5s;
}
.progress-card:hover .percent .num h2 span
{
  color:#fff;
}
.text
{
  position:relative;
  color:rgb(0, 0, 0);
  margin-top:20px;
  font-weight:700;
  font-size:18px;
  letter-spacing:1px;
  text-transform:uppercase;
  transition:0.5s;
  font-family:'Roboto',sans-serif;

}
.progress-card:hover .text
{
  color:#fff;
}
svg.my_svg
{
  position:relative;
  width:150px;
  height:150px;
  z-index:100;
}
svg.my_svg circle
{
  width:100%;
  height:100%;
  fill:none;
  stroke:#191919;
  stroke-width:10;
  stroke-linecap:round;
  transform:translate(5px,5px);
}
svg.my_svg circle:nth-child(2)
{
  stroke-dasharray:440;
  stroke-dashoffset:440;
}

svg.my_svg2
{
  position:relative;
  width:150px;
  height:150px;
  z-index:100;
}
svg.my_svg2 circle
{
  width:100%;
  height:100%;
  fill:none;
  stroke:#191919;
  stroke-width:10;
  stroke-linecap:round;
  transform:translate(5px,5px);
}
svg.my_svg2 circle:nth-child(3)
{
  stroke-dasharray:440;
  stroke-dashoffset:440;
}

/* removed some style from here and kept it in Liquidation.vue */

/* ***************************** */
/* **** Progress Bar Ends***** */
/* ***************************** */


/* ***************************** */
/* **** Signout Button ***** */
/* ***************************** */

.sign_out{
  /* text-align: left; */
  padding: 8px 0px 8px 32px;
  width: auto;
}


/* ******************************* */
/* ***** Signout Button Ends ***** */
/* ******************************* */

/* ---------------------------------------------------- */

/* ******************************* */
/* ***** liquidation ***** */
/* ******************************* */
@media (min-width: 720px) {

  .liquidate_ {
    display: flex;
    height: 350px;
  }

  .liquidate_left {
    width: auto;
    padding-right: 10px;
    /* background: rgb(238, 255, 238); */
  }

  .liquidate_right {
    flex-grow: 1;
    /* background: rgb(214, 214, 255); */
  }

  .liqui_Table {
    margin-top: 5%;
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 30px;
    color: #ED6D6D;

  }


}

@media (max-width: 721px) {
  
  .liquidate_ {
    display: bloxk;
    height: 350px;
  }
  
  .liquidate_left {
    width: auto;
    padding: 10px;
    /* background: rgb(235, 220, 255); */
  }
  
  .liquidate_right {
    /* background: rgb(206, 253, 255); */
    margin-top: 10%;
  }
  
  .liqui_Table {
    margin-top: 5%;
    padding-bottom: 50px;
    text-align: center;
    /* @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap'); */
    font-family: 'Monoton', cursive;
    font-size: 20px;
    color: #ED6D6D;
  }
}

/* ******************************* */
/* ***** liquidation Ends ***** */
/* ******************************* */

.border_tab {
    border-top-width: 1px;
    border-color: rgb(255, 188, 188);
    border-radius: 14px;
}

.tab-content {
    max-height: 0;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}

/* :checked - resize to full height */
.tab input:checked~.tab-content {
    max-height: 100vh;
}

/* Label formatting when open */
.tab input:checked+label {
    word-spacing: 5px;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 1.25rem;
    border-left-width: 4px;
    border-color: #ED6D6D;
    background-color: #f8fafc;
    color: #ED6D6D;
}

/* Icon */
.tab label::after {
    float: right;
    right: 0;
    top: 0;
    display: block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5;
    font-size: 1.25rem;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

/* Icon formatting - closed */
.tab input[type=checkbox]+label::after {
    content: "+";
    font-weight: bold;
    border-width: 1px;
    border-radius: 9999px;
    border-color: #ED6D6D;
    color: #df5050;
}

.tab input[type=radio]+label::after {
    content: "\25BE";
    font-weight: bold;
    border-width: 1px;
    border-radius: 9999px;
    border-color: #b8c2cc;
}

/* Icon formatting - open */
.tab input[type=checkbox]:checked+label::after {
    transform: rotate(315deg);
    background-color: #ED6D6D;
    color: #f8fafc;
}
